html
  head
    title My Site - #{title}
    link(rel='stylesheet' href='css/site.css')
    script(src="https://unpkg.com/rxjs/bundles/rxjs.umd.min.js")
  body
    header.header
      p.header-text Proyects 
      a(href="/") Home
      a(href="search") Search
      a(href="signup") Signup 
      a(href="login") Login 
    block content

    footer.footer
      p.footer-text footer