html
  head
    title My Site - #{title}
    link(rel='stylesheet' href='css/site.css')
  body
    div.header
      p.header-text header
      a(href="search") Search
      a(href="/") Home
    block content

    div.footer
      p.footer-text footer