extends ../layout/main.pug

block content
    div.login-section
        form(action="/login", method="POST")
            p Email:
            input.email(type="text" name="email")
            p Password:
            input.pass(type="password" name="password")
            button(type="submit") Log in