extends ../layout/main.pug

block content
    div.login-section
        p Email:
        input.email(type="text" name="email")
        p Password:
        input.pass(type="password" name="pass")
        button(type="button") Log in